.App {
  font-family: sans-serif;
  text-align: center;
  border: 3px solid black;
  height: 1500px;
  overflow: scroll;
}

.image {
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease-out;
}

.visible {
  height: auto;
  opacity: 1;
}
:root {
  --r-localnav-height: 52px;
}
#image-container {
  height: calc(100vh - var(--r-localnav-height, 0px));
  position: sticky;
}
